/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor/asm89
/vendor/autoload.php
/vendor/bin
/vendor/brick
/vendor/composer
/vendor/dflydev
/vendor/doctrine
/vendor/dragonmantank
/vendor/egulias
/vendor/ezyang
/vendor/facade
/vendor/fakerphp
/vendor/filp
/vendor/fruitcake
/vendor/graham-campbell
/vendor/guzzlehttp
/vendor/hamcrest
/vendor/intervention
/vendor/laravel
/vendor/league
/vendor/maatwebsite
/vendor/maennchen
/vendor/markbaker
/vendor/mockery
/vendor/monolog
/vendor/myclabs
/vendor/nesbot
/vendor/nette
/vendor/nikic
/vendor/nunomaduro
/vendor/opis
/vendor/phar-io
/vendor/phpdocumentor
/vendor/phpoffice
/vendor/phpoption
/vendor/phpspec
/vendor/phpunit
/vendor/psr
/vendor/psy
/vendor/ralouphie
/vendor/ramsey
/vendor/sebastian
/vendor/spatie
/vendor/swiftmailer
/vendor/symfony
/vendor/theseer
/vendor/tijsverkoyen
/vendor/vlucas
/vendor/voku
/vendor/webmozart
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
